:root {
  font-size: 10px;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #eecf90;
  position: relative;
  overflow-x: hidden;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #322826;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
  color: #322826;
}

.brand-title img {
  margin-right: 1rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #322826;
  padding: 1rem;
  display: block;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 2px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
}

section {
  padding: 5rem;
}

section.hero {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.hero h1 {
  margin: 2rem 0;
  font-size: 9rem;
  font-weight: 600;
  text-align: center;
}

section.hero p,
section.hero span {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

section.hero span {
  display: block;
  text-align: center;
}

section.hero .ctas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0 5rem;
}

section.hero .ctas a {
  margin: 2rem;
  padding: 3rem 4rem;
  border: 1px solid #322826;
  border-radius: 5rem;
  color: #322826;
  font-size: 2rem;
  font-weight: 300;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

section.hero .ctas a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

section.hero .ctas a:nth-child(2) {
  color: #eecf90;
  background-color: #322826;
}

section.hero img {
  width: 50%;
  position: relative;
  left: 4rem;
  z-index: 1;
}

section.exhibitions {
  background-color: white;
  padding: 20rem 0;
  position: relative;
  top: -200px;
}

section.exhibitions h2 {
  text-align: center;
  font-weight: 300;
  font-size: 4.5rem;
}

section.exhibitions .cards {
  margin: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.exhibitions .cards .card {
  background-color: #f5f9fc;
  height: 20rem;
  border-radius: 5rem;
  width: 30rem;
  margin: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

section.exhibitions .cards .card:hover {
  background-color: #eecf90;
  -webkit-transform: scale(1.02) rotate(2deg);
          transform: scale(1.02) rotate(2deg);
  -webkit-box-shadow: 0px 0.9px 2.4px rgba(0, 0, 0, 0.011), 0px 2.3px 5.7px rgba(0, 0, 0, 0.009), 0px 4.7px 10.8px rgba(0, 0, 0, 0.009), 0px 9px 19.2px rgba(0, 0, 0, 0.016), 0px 18.8px 35.9px rgba(0, 0, 0, 0.034), 0px 57px 86px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0.9px 2.4px rgba(0, 0, 0, 0.011), 0px 2.3px 5.7px rgba(0, 0, 0, 0.009), 0px 4.7px 10.8px rgba(0, 0, 0, 0.009), 0px 9px 19.2px rgba(0, 0, 0, 0.016), 0px 18.8px 35.9px rgba(0, 0, 0, 0.034), 0px 57px 86px rgba(0, 0, 0, 0.07);
}

section.exhibitions .cards .card img {
  position: absolute;
  top: 2rem;
}

section.exhibitions .cards .card #dna {
  width: 90px;
}

section.exhibitions .cards .card #rocketScience {
  width: 50px;
  top: 0.5rem;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

section.exhibitions .cards .card #solarSystem {
  width: 150px;
  top: 0.5rem;
}

section.exhibitions .cards .card #electricity {
  width: 60px;
}

section.exhibitions .cards .card p {
  position: absolute;
  bottom: 4rem;
  font-size: 2rem;
  font-weight: 500;
  color: #575f60;
}

section.testimonials {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: -400px 0 100px;
}

section.testimonials h3 {
  margin: 5rem;
  color: #af7a3a;
  font-size: 5rem;
}

section.testimonials .testimonial-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.testimonials .testimonial-cards .card {
  padding: 3rem;
  margin: 2rem;
  border-radius: 2rem;
  color: white;
  width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

section.testimonials .testimonial-cards .card .person p:nth-child(1) {
  font-weight: 400;
  font-size: 1.8rem;
}

section.testimonials .testimonial-cards .card .person p:nth-child(2) {
  font-weight: 300;
  opacity: 0.8;
}

section.testimonials .testimonial-cards .card .person-text {
  margin-top: 1rem;
  font-weight: 300;
  font-size: 2rem;
  font-style: italic;
}

section.testimonials .testimonial-cards .one {
  background-color: #e97233;
}

section.testimonials .testimonial-cards .two {
  background-color: #e99633;
}

section.testimonials .testimonial-cards .three {
  background-color: #e99633;
  position: relative;
  top: -3rem;
}

section.testimonials .testimonial-cards .four {
  background-color: #14a763;
}

section.footer {
  background-color: #9c5b37;
}

section.footer footer {
  color: white;
  max-width: 1600px;
  margin: 0 auto;
  height: 20rem;
}

section.footer footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.footer footer .content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
}

section.footer footer .content-left p {
  margin-left: 1rem;
  font-weight: 300;
}

section.footer footer .content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.footer footer .content-right h4 {
  font-size: 2rem;
  font-weight: 300;
}

section.footer footer .content-right a {
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.671);
}

section.footer footer .content-right .right {
  padding: 3rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1195px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 7rem;
  }
  .toggle-button .bar {
    background-color: #322826;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.testimonials div.card.three {
    position: relative;
    top: 0;
  }
}

@media screen and (max-width: 800px) {
  section.hero h1 {
    font-size: clamp(4rem, 10vw, 7rem);
  }
  section.hero p,
  section.hero span {
    font-size: clamp(1.8rem, 5vw, 3rem);
  }
  section.hero .ctas a {
    font-size: 1.6rem;
    display: inline;
  }
  section.testimonials img {
    width: 250px;
    position: relative;
    top: 2rem;
  }
  section.footer footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  section.footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.footer .footer-content .content-right {
    display: block;
  }
}

/*
807 overflow
942 span text h1
*/
/*# sourceMappingURL=style.css.map */